certifi==2020.12.5
chardet==4.0.0
dadata==20.7.0
Django==2.2
gunicorn==20.0.4
h11==0.12.0
httpcore==0.12.2
httpx==0.16.1
idna==2.10
Pillow==6.2.2
psycopg2-binary==2.8.5
pycdek3==0.2.0
python-dotenv==0.15.0
pytz==2020.5
requests==2.25.1
rfc3986==1.4.0
sniffio==1.2.0
sqlparse==0.4.1
urllib3==1.26.2
gunicorn==20.0.4
todo:delete
xlwt==1.3.0
openpyxl==3.0.7
num2words
