{% extends 'm2m_app/base.html' %}
{% load static %}
{% block content %}
    <form id="form" method="post" action="{% url 'repeat_order_url' %}">{% csrf_token %}</form>
    <div class="history-container container">
      <div class="history-wrap">
          <div class="tilte-history">
              <p>История заказов</p>
          </div>
          <div class="content-history pc-table">
              <table class="table table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Колличество сим-карт</th>
                    <th scope="col">Тариф</th>
                    <th scope="col">Адресс доставки</th>
                    <th scope="col">Сумма, р.</th>
                    <th scope="col">Способ оплаты</th>
                    <th scope="col">Трекинг номер</th>
                    <th scope="col">Повторить заказ</th>
                    <th scope="col">Закрывающие документы</th>
                  </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                  <tr>
                    <th class="h-date">{{ order.date_created }}</th>
                    <th class="h-count">{{ order.count }}</th>
                    <th class="h-tarif">{{ order.tariff__name }}</th>
                    <th class="h-adress">{{ order.address_sdek }}</th>
                    <th class="h-price">{{ order.total }} руб.</th>
                    <th class="h-pay-type">---</th>
                    <th class="h-track">{{ order.tracking_number }}</th>
                    <th class="h-restore"><button form="form" onclick="clicked(event)" type="submit" name="order_id" value="{{ order.id }}"><img src="{% static 'm2m_app/img/repeat.png' %}" alt=""></button></th>
                    <th class="h-download">Скачать</th>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
          </div>
          <div class="content-history mob-tale">
               {% for order in orders %}
                  <div class="zakaz-block">
                      <p class="h-date">Дата: <span>{{ order.date_created }}</span></p>
                      <p class="h-count">Колличество сим-карт: <span>{{ order.count }}</span></p>
                      <p class="h-tarif">Тариф: <span>{{ order.tariff__name }}</span></p>
                      <p class="h-adress">Адресс доставки: <span>{{ order.address_sdek }}</span></p>
                      <p class="h-price">Сумма, руб.: <span>{{ order.total }} руб.</span></p>
                      <p class="h-pay-type">Способ оплаты:  <span>Счет</span></p>
                      <p class="h-track">Трекинг номер:  <span>{{ order.tracking_number }}</span></p>
                      <p class="h-restore">Повторить заказ: <span><button form="form" onclick="clicked(event)" type="submit" name="order_id" value="{{ order.id }}"><img src="{% static 'm2m_app/img/repeat.png' %}" alt=""></button></span></p>
                      <p class="h-download">Закрывающие документы: <span>Скачать</span></p>
                  </div>
              {% endfor %}
          </div>
      </div>
  </div>
    <script>
    function clicked(e)
    {
        if(!confirm('Повторить заказ?')) {
            e.preventDefault();
        }
    }
    </script>
{% endblock %}