{% extends 'm2m_app/base.html' %}
{% load static %}
{% block content %}

    <script src="{% static 'm2m_app/js/password_restoring.js' %}" type="text/javascript"></script>
     <!-- Восстановление пароля -->
    <div class="remember-pass" id="main_form" style="display: ;" >
        <div class="header-title" >
            <p>Укажите ваш логин ( E-mail). Мы пришлем вам <br class="pc-br"> инструкцию для восстановления пароля</p>
        </div>
        <form id="restoring_form" data-ajax-url="{% url 'password_restoring_url' %}" >
            {% csrf_token %}
            <input type="email" class="input-form" name="username" placeholder="Логин ( ваш E-mail)" required>
            <br>
            <button type="submit" class="log-btn">Напомнить пароль</button>
        </form>
        <div class="content-image">
            <img src="{% static 'm2m_app/img/tech_new.png' %}" alt="">
        </div>
    </div>
    <!-- Восстановление пароля всплывашка -->
    <div class="success-remember" id="popapp_massage" style="display: none;">
        <div class="success-wrap">
            <p class="info-success" id="mail_message">Инструкция по восстановлению пароля успешно отправлена  на указанную вами почту ""</p>
            <br>
            <div class="success-btn">
                <a href="{% url 'index_url'%}"><img src="{% static 'm2m_app/img/Vector.png' %}" alt="" style="padding-right: 10px">Вернуться на главную</a>
                <a href="{% url 'login_url'%}">Войти</a>
            </div>
        </div>
        <div class="content-image">
            <img src="{% static 'm2m_app/img/tech_new.png' %}" alt="">
        </div>
    </div>




{% endblock %}


