{% extends 'm2m_app/base.html' %}
{% load static %}
{% block content %}
    <!-- Выбор тарифа -->
    <script src="{% static 'm2m_app/js/select_tariff.js' %}" type="text/javascript"></script>
    <form method="post" action="{% url 'select_tariff_url' %}" id="select_tariff_form">{% csrf_token %}</form>
    <div class="select-tarif-step2" style="">
        <div class="tarif-wrap">
            <div class="container">
                <div class="title-select">
                    <p>Выбереите тариф</p>
                </div>
                <div class="row">
                    {% for tariff in tariffs %}
                        <div class="col-sm-12 col-md-4 col-xs-12 col-12">
                            <div class="info-tarif-step2">
                                <div class="title-tarif-step2">
                                    <p>{{ tariff.name }}</p>
                                </div>
                                <div class="text-tarif-step2">
                                    <div class="text-wrap-info-tarif">
                                        <p>{{ tariff.locations }}</p>
                                        <p>Смс — {{ tariff.sms }}</p>
                                        <p>Мегабайт — {{ tariff.megabyte }}</p>
                                        <p>Стоимость — {{ tariff.cost }} руб.</p>
                                    </div>
                                    <br>
                                    <div class="input-select-tarif2">
                                        <input form="select_tariff_form" data-price="{{ tariff.cost }}" type="radio" id="select_tariff_but"
                                               name="tariff_pk" value="{{ tariff.pk }}"
                                               {% if tariff.pk == tariff_checked %}checked{% endif %}>
                                    </div>
                                    <label for="selecttarifid1">Выбрать</label>
                                </div>
                                <img src="{% static 'm2m_app/img/ethernetpay.png' %}" class="icon-step2" alt="">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tarif-count container">
                <div class="count-sim">
                    <p>Колличество сим карт</p>
                    <input id="count"  form="select_tariff_form" name="count" type="number" min="5" class="input-count-sim"
                           value="{% if count %}{{ count }}{% else %}5{% endif %}">
                </div>
                <div class="price-sim">
                    <p class="price-text">Стоимость:<span id="price" class="price">0 руб.</span></p>
                    <p class="subifo">НДС не облагается</p>
                </div>
                <div class="btn-adress-send-bacground-off">
                    <button a class="btn btn-success" type="submit" form="select_tariff_form" disabled>Выбрать способ доставки</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}